@import '~variables.scss';
@import '~components/form/button/button.scss';
@import '~components/form/form.scss';

/* HeaderEditor Component */

  .sidebar_title {
    margin: 100px 0 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $greyd2;
    padding-bottom: 2px;
  }
  
  .sidebar {
    padding: 20px 0;
    list-style-type: none;
    grid-area: sidebar;
    position: absolute;
    right: 0;  
    height: auto;
    width: 100%;
    z-index: 5;
    background-color: $white;
    border-left: 1px solid $greyd1;
    text-align: center;
    float: right;
  }
  
  .grey_box {
    width: 270px;
    height: 45px;
    background-color: $offwhite;
    margin: 10px auto;
    padding: 8px 0 0 15px;
    text-align: left;
  }
  
  .list_item {
    font-weight: bold;
    font-size: 18px;
    color: $greyd3;
    text-align: right;
  }
  
  .align_checkbox {
    position: absolute;
    text-align: right;
  }

  @media (min-width: 1200px) {
  
    .sidebar {
     min-height: 100%;
     width: 330px;
     padding: 70px 0;
    }  
    .grey_box {
        width: 270px;
        height: 45px;
        background-color: $offwhite;
        margin: 25px auto;
        padding: 8px 0 0 15px;
        text-align: left;
      }
}