@import '../button/button.scss';
@import '../../variables.scss';

/* Container */
.wrapper {
  z-index: 1;
  width: 100%;
  height: 42px;
  display: grid;
  grid-template-areas:
  "logo_header"
  "header_links"
  "account_box";
}

.logo_header {
  grid-area: logo_header;
  height: 30px;
  margin: 6px 28px 6px 0;
}

.header_links {
  grid-area: header_links;

}

.account_box {
  grid-area: account_box;

}

@media (min-width: 550px) {
}
