@import '~variables.scss';
@import '~components/form/button/button.scss';

/* Container */
.wrapper {
  width: 100%;
  display: grid;
  grid-template-areas:
  "logo_onpage"
  "login_box"
  "login_subtext";
}

/* Logo Title */

.logo_onpage {
  display: block;
  grid-area: logo_onpage;
  width: 14em;
  margin: 2em auto 0 auto;
}

/* Login Box */

.close_btn {
  display: inline-block;
  text-align: right;
  width: 100%;
  height: auto;
}

.login_box .login_form {
  display: block;
  grid-area: login_box;
  height: auto;
  background-color: $white;
  box-shadow: none;
  margin: 2rem 0;
	border: solid 1px $offwhite;
}

.login_form {
  display: block;
  background-color: #ffffff;
  border: solid 1px #f6f8fc;
  padding: 2.5em 3em 2.5em;
  border-radius: 8px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
}

.box_title {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
	color: $purple;
  text-align: center;
  margin: 20px auto 10px auto;
  display: block;
}

.login_subtext {
  z-index: -1000;
  grid-area: login_subtext;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  text-align: center;
}

/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}

.label {
  display: block;
  text-align: left;
  z-index: 5;
  position: absolute;
  height: 2rem;
  width: 85%;
  line-height: 2rem;
  bottom: 0;
  color: $greyd2;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding-right: 100px;
  vertical-align: top;
}

.forgot {
  font-size: 14px;
  z-index: 1;
  font-weight: 400;
  position: absolute;
  left: 82%;
  bottom: 5px;
  text-decoration: none;
  color: $greyd2;
  &:hover {
    color: $purple;
    text-decoration: underline;
    font-weight: bold;
  &:active {
    color: $greyd2;
    text-decoration: none;
  }
}
}

.input {
  margin-top: 20px;
  width: 100%;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: $purple;
  transition: all 0.2s ease-in;
  border-radius: 0;
  &:focus {
    outline: 0;
    border-color: $sky-blue;
  }
}

.inputError {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: $purple;
  border-radius: 0;
  &:focus {
  outline: 0;
  border-color: $red;
  }
}

/* Using a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus+.label,
input:valid+.label {
  transform: translateY(-75%);
  font-size: 0.75rem;
  color: $sky-blue;
}

.inputError:focus+.label,
  input:valid+.label {
  transform: translateY(80%);
  font-size: 0.75rem;
  color: $red;
}

@media (min-width: 550px) {
  .logo_onpage {
    margin: 5em auto 5em auto;
    display: block;
    width: 200px;
  }
  .login_box .login_form {
    max-width: 330px;
    margin: auto;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
  }
  .login_subtext {
    margin: 30px auto;
  }
}
