@import '~variables.scss';
@import '~components/form/button/button.scss';
@import '~components/form/form.scss';

/* HeaderEditor Component */

.sidebar_title {
  margin: 100px 0 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid $greyd2;
  padding-bottom: 2px;
}

.btn_blue {
  margin: 0 auto;
  width: 240px;
}

.btn_blue_disabled {
  margin: 0 auto;
  width: 240px;
}

.sidebar {
  padding: 20px 0;
  list-style-type: none;
  grid-area: sidebar;
  height: auto;
  width: 100%;
  background-color: $white;
  border-left: 1px solid $greyd1;
  text-align: center;
}

.box {
  border-radius: 8px;
  width: 270px;
  height: 45px;
  margin: 10px auto;
  padding: 6px 0 0 15px;
  text-align: left;
  transition: background-color 250ms linear;
}

.grey {
  background-color: $offwhite;
}

.list_item {
  font-weight: bold;
  font-size: 18px;
  color: $greyd3;
  padding-left: 15px;
}

@media (min-width: 1200px) {
  .sidebar {
   min-height: 100%;
   width: 330px;
   padding: 70px 0;
  }
  .box {
    width: 270px;
    height: 45px;
    margin: 25px auto;
    padding: 6px 0 0 15px;
    text-align: left;
  }
}
