@import '~variables.scss';
@import '~components/form/button/button.scss';
@import '~components/form/form.scss';

/* Top Editor Box for the 'Pages' page */

.workspace {
  grid-area: workspace;
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  position: absolute;
  right: 0;  
  height: auto;
  width: 100%;
  z-index: 5;
  background-color: #f8a36f;
  text-align: center;
  float: right;
  max-height: 200px;
}

.wrapper_editor {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "sidebar"
    "workspace_header"
    "workspace"
    "footer";
}

@media (min-width: 1200px) {
  .sidebar {
   min-height: 100vh;
   width: 330px;
  }
  .wrapper {
   grid-template-columns: 2fr 4fr;
   grid-template-areas:
    "workspace_header     workspace_header     sidebar"
    "workspace             workspace           sidebar"
    "footer                 footer              footer"
  }
}
