@import '~variables.scss';
@import '~components/form/button/button.scss';

.header {
  grid-area: header;
  height: 60px;
  min-width: 100vw;
}

.buttonBar {
  grid-area: buttonBar;
  height: 60px;
  width: 100vw;
}

.previewBar {
  grid-area: previewBar;
  height: 60px;
}

.workspace {
  grid-area: workspace;
  background-color: lightsalmon; 
  grid-area: previewBar;
}

@media (min-width: 1200px) {
  .wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 330px;
    grid-template-areas:
    "previewBar  sidebar"
    "workspace   sidebar";
  }
 }