@import '~variables.scss';
@import '~components/form/button/button.scss';
@import '~components/form/form.scss';

/* Modal for adding a new site */

.modal_box {
  position: relative;
  background-color: $white;
  width: 100%;
  height: auto;
  margin: 150px auto;
  max-width: 700px;
  border-radius: 4px;
}

.wrapper {
  width: 100%;
  padding: 50px 28px;
}

.closeX {
  position: absolute;
  top: 25px !important;
  right: 25px !important;
  width: 25px;
  height: 25px;
}

.title {
  width: 100%;
  margin: 10px auto 5px;
  position: relative;
  text-align: center;
  font-size: 25px;
	font-weight: bold;
	color: $purple;
}

.subtitle {
  display: block;
  font-weight: 300px;
  width: 100%;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 16px;
	color: $greyd3;
}

.btn_blue_large {
  margin: 80px auto 0;
}
