@import '~variables.scss';
@import '~components/form/button/button.scss';

body {
    width: auto;
}

.wrapper {
    position: relative;
    background-color: $white;
    padding: 60px 28px 60px 28px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "upload_title"
    "carousel"
    "upload_info"
    "bottom_section";
}

.closeX {
    position: absolute;
    top: 25px !important;
    right: 25px !important;
    width: 25px;
    height: 25px;
}


.upload_title {
    grid-area: upload_title;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 25px;
    padding-bottom: 8px;
    border-bottom: 1px solid $greyd1;
}

.carousel {
    max-width: 80vw;
    grid-area: carousel;
}

.upload_info {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "download"
    "files"
    "popularity";
}

.btn_download {
    grid-area: download;
    color: $button;
    border: solid 1px $button;
    width: 200px;
    height: 40px;
    padding: 5px 20px;
    outline: 0;
    margin: 20px auto 5px auto;
    justify-self: center;
      border-radius: 5px;
      background-color: #ffffff;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $button;
      color: #ffffff;
      transform: translateY(-3px);
      box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
      transition: all 0.3s ease 0s, transform 400ms;
    &:active {
      border-color: $white;
      background-color: lighten($button, 10%);
      transition: all 0s linear 0.3s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
      box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
    }
  }
}

.files {
    grid-area: files;
    font-size: 12px;
    border: 1px solid $greyd1;
    padding: 10px 10px 5px 10px;
    margin: 15px 28px;
    min-height: 50px;
    width: auto;
    border-radius: 4px;
}

.file_list {
    display: block;
}

.popularity {
    margin-top: 15px;
    grid-area: popularity;
    align-self: end;
}

.upload_details {
    align-self: end;
    margin: 20px 0 25px 0;
    display: grid;
    align-self: end;
    width: auto;
    font-weight: 400;
    color: $greyd2;
    font-size: 12px;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "username date favorite";
  }
.username {
      text-align: center;
      grid-area: username;
      padding: 4px;
      width: auto;
      color: $greyd2;
      &:hover {
        color: $button;
      &:active {
        color: lighten($button, 10%);
      }
    }
}

.date {
    padding-top: 4px;
    grid-area: date;
    margin: 0 auto;
}

.btn_favorite {
    justify-self: center;
    grid-area: favorite;
    background:url(favorite.svg);
    background-repeat: no-repeat;
    width:28px;
    height:26px;
    border: 0;
    transition: all 0.5s ease;
    &:hover {
      background-image: url(favorite_hover.svg);
      transform: translateY(-3px);
      transition: all 0.5s ease 0s, transform 400ms;
    }
    &:active {
      transition: all 0s linear 0.4s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
    }
}
  
.tags {
    grid-area: tags;
    display: inline-block;
    margin: 0 15px 20px 0;
}

.categories {
    display: inline-block;
    margin: 0 10px 20px 0;
}

.description {
    grid-area: description;
    margin-right: 28px;
  }

.description_text {
    overflow-wrap: normal;
    display: block;
    margin-bottom: 20px;
}

.section_title {
    color: $greyd3;
    margin: 20px 0 15px 0;
    font-size: 16px;
    font-weight: 400;
}

.bottom_section {
    grid-area: bottom_section;
}

.divider {
    align-self: end;
    width: auto;
    border-bottom: solid 1px $greyd1;
    height: 1px;
    margin: 20px 0;
}

.card_wrapper {
    background-color: $white;
    margin: 0 auto 0 auto;
    max-width: 950px;
    display: grid;
    padding: 30px 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

@media (min-width: 900px) {
    .wrapper {
        background-color: $white;
        padding: 40px 28px 60px 28px;
        max-width: 900px;
        margin: 0 auto;
        height: auto;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-column-gap: 20px;
        grid-template-areas:
        "upload_title upload_title"
        "carousel upload_info"
        "bottom_section bottom_section";
    }
    .carousel {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
    }
    .description_text {
        display: block;
        font-size: 14px;
    }
    .upload_details {
        margin: 15px auto;
        width: 100%;
    }
    .divider {
        justify-self: center;
        margin: inherit 28px;
        width: 85%;
    }
    files {
        margin: 0px 28px;
    }
    .username {
        justify-self: start;
    }
    .btn_favorite {
        justify-self: end;
        margin-right: 28px;
    }
}