@import '~variables.scss';
@import '~components/form/form.scss';
@import '~components/form/button/button.scss';

.dragbox {
    width: 100%;
    border: 2px dashed $greyd1;
    border-radius: $platform-radius;
    transition: all 0.3s ease;
    &:hover {
        border: 2px dashed $accent;
    }
}

.wrapper {
    position: relative;
    background-color: $white;
    padding: 60px 28px 60px 28px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "upload_title"
    "media"
    "downloads"
    "description"
    "tags";
}

.closeX {
    position: absolute;
    top: 25px !important;
    right: 25px !important;
    width: 25px;
    height: 25px;
  }

.input_title {
    color: $black !important;
    height: 100%;
    padding: 10px;
    min-width: 350px !important;
    width: auto !important;
    border-bottom: 1px solid $greyd1;
}

.input {
    &:focus {
        background-color: $offwhite !important;
    }
}

.center_text {
    text-align: center;
    font-weight: 400;
    color: $black;
}

.upload_title {
    width: auto;
    grid-area: upload_title;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 25px;
}

.btn_download {
    grid-area: download;
    color: $button;
    border: solid 1px $button;
    width: 200px;
    height: 40px;
    padding: 5px 20px;
    outline: 0;
    margin: 20px auto 5px auto;
    justify-self: center;
      border-radius: $platform-button-radius;
      background-color: #ffffff;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $button;
      color: #ffffff;
      transform: translateY(-3px);
      box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
      transition: all 0.3s ease 0s, transform 400ms;
    &:active {
      border-color: $white;
      background-color: lighten($button, 10%);
      transition: all 0s linear 0.3s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
      box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
    }
  }
}

.files {
    grid-area: files;
    font-size: 12px;
    border: 1px solid $greyd1;
    padding: 10px 10px 5px 10px;
    margin: 15px 0;
    min-height: 50px;
    width: auto;
    border-radius: $platform-radius;
}

.file_list {
    display: block;
}

.file_item {
    &:hover {
        background-color: $red;
        color: $white;
    }
}

.description {
    grid-area: description;
    width: 100%;
  }

.description_text {
    display: block;
    margin-bottom: 20px;
}

.tags {
    grid-area: tags;
}

.add_tag {
    background-color: $offwhite !important;
    padding-left: 15px;
    display: block;
    box-sizing: border-box;
    width: auto;
    font-size: 12px;
    border: 0;
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    color: $black;
    transition: all 0.2s ease-in;
    margin-bottom: 15px;
    &:focus {
      outline: 0;
      border-bottom: 1px solid $accent;
    }
}

.categories {
    grid-area: categories;
}

.section_title {
    color: $greyd3;
    margin: 20px 0 15px 0;
    font-size: 16px;
    font-weight: 400;
}

.bottom_section {
    grid-area: bottom_section;
}

.divider {
    width: auto;
    border-bottom: solid 1px $greyd1;
    height: 1px;
    margin: 20px 28px;
}

.upload_details {
    margin: 0 0 25px 0;
    display: grid;
    align-self: end;
    width: auto;
    font-weight: 400;
    color: $greyd2;
    font-size: 12px;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "username date favorite";
  }
.username {
      padding: 4px;
      width: auto;
      grid-area: username;
      justify-self: start;
      color: $greyd2;
      &:hover {
        color: $button;
      &:active {
        color: lighten($button, 10%);
      }
    }
}

.date {
    padding: 4px;
    grid-area: date;
    margin: 0 auto;
}
  
.btn_favorite {
    justify-self: end;
    grid-area: favorite;
    background:url(favorite.svg);
    background-repeat: no-repeat;
    width:28px;
    height:26px;
    border: 0;
    transition: all 0.5s ease;
    &:hover {
      background-image: url(favorite_hover.svg);
      transform: translateY(-3px);
      transition: all 0.5s ease 0s, transform 400ms;
    }
    &:active {
      transition: all 0s linear 0.4s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
    }
}


.card_wrapper {
    background-color: $white;
    margin: 0 auto 0 auto;
    max-width: 950px;
    display: grid;
    padding: 30px 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

@media (min-width: 700px) {
    .wrapper {
        background-color: $white;
        padding: 40px 28px 60px 28px;
        max-width: 900px;
        margin: 0 auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas:
        "upload_title upload_title"
        "media      downloads"
        "description tags"
        "description categories";
    }
    .carousel {
        margin: 0 auto;
    }
    .description_text {
        display: block;
        font-size: 14px;
        margin: 0 28px;
    }
    .upload_details {
        margin: 0 28px;
    }
    .divider {
        margin: 0 28px;
    }
}