@import '~variables.scss';
@import '~components/form/button/button.scss';

/* Top Editor Box for the 'Pages' page */

.editor_button_bar {
  background-color: $white;
  width: 100%;
  position: relative;
  height: 60px;
  border-bottom: solid 1px $greyd1;
  display: grid;
  padding: 0 28px;
  grid-template-areas:
  "btn_left btn_right";
}

.btn_left {
  justify-self: start;
  grid-area: btn_left;
  margin: 15px 0;
}

.btn_right {
  position: absolute;
  right: 0;
  grid-area: btn_right;
  margin: 15px 0;
}

@media (min-width: 1200px) {
  .btn_right {
    margin-right: 80px;
  }
}