
.grid {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "d"
    "c";
  width: 100%;
}

.a {
  grid-area: a;
  height: 60px;
}

.b {
  grid-area: b;
  height: 60px;
}

.d {
  grid-area: d;
  height: 250px;
}


.c {
  grid-area: c;
  height: 500px;
}



@media (min-width: 1200px) {
  .grid {
    grid-gap: 0px;
    grid-template-columns: 2fr 4fr;
    grid-template-areas:
    "a a a"
    "b b d"
    "c c d";
  }
  .a {
    height: 60px;
  }
  
  .b {
    height: 60px;
  }
  
  .c {
    height: 540px;
    //min-height: 100%;
  }

  .d {
    align-self: end;
    width: 330px;
    height: 600px;
    //min-height: 100%;
  }


  
}
