@import '~variables.scss';
@import '~components/form/button/button.scss';
@import '~components/form/form.scss';

/* Top Editor Box for the 'Pages' page */

.wrapper {
  background-color: $white;
  border-bottom: solid 1px $greyd1;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.editor_button_bar {
  background-color: $white;
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 60px;
  border-bottom: solid 1px $greyd1;
}

.editor_button__container {
  display: grid;
  grid-template-areas:
  "btn_left  btn_right";
}

.btn_left {
  position: absolute;
  left: 28px;
  grid-area: btn_left;
  margin: 15px 0;
}
/* Hide editor_box below when onclick of .btn_right */
.btn_right {
  position: absolute;
  right: 28px;
  grid-area: btn_right;
  margin: 15px 0;
}

.editor_box {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 28px;
  height: auto;
  display: grid;
  background-color: $white;
  border-bottom: solid 1px $offwhite;
  grid-template-columns: 1fr;
  grid-template-areas:
  "color"
  "style"   
  "font";
}



.style_box {
  grid-area: style;
  margin: 0 auto;
  min-width: 250px;
}

.color_box {
  grid-area: color;
  margin: 0 auto;
}

.font_box {
  grid-area: font;
  margin: 0 auto;
  min-width: 250px;
}

.category_title {
  width: 100%;
  margin: 15px auto 35px auto;
  text-align: center;
  font-size: 18px;
	font-weight: 400;
	color: $greyd2;
}

.dropdownBar {
  margin: 0 auto 0 20px;
  display: block;
  height: auto;
}

.dropdown_header {
  margin: 0 auto;
  font-size: 12px;
  display: block;
}

.dropbtn {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding-bottom: 4px;
  margin-bottom: 20px;
  border-bottom: 1px solid $greyd1;
  font-weight: 400;
  color: $greyd3;
  display: inline-block;
  grid-area: dropdown;
  padding-right: 15px;
  cursor: pointer;
  &:hover {
      color: $black;
      border-color: $greyd3;
  }
}


/* The triangle should switch to :hover state when the dropdown text is hovered over */
.triangle {
  position: absolute;
  right: 10px;
  top: 8px;
  margin-left: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: lighten($accent, 20%) transparent transparent transparent;
  &:hover {
      border-color: $accent transparent transparent transparent;
  }
}


.colors {
  padding: 0 15px;
  text-align: center;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-areas:
  "color_main               color_sub"
  "buttons_subtitle  accents_subtitle"
}

.color_button {
  grid-area: color_main;
  justify-self: end;
  margin: 0 20px 10px;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  background-color: $button;
  transition: all 0.5s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
    -webkit-transition: all 0.5s ease 0s, transform 400ms;
    transition: all 0.5s ease 0s, transform 400ms;
    opacity: 0.5;
  &:active {
    -webkit-transition: all 0s linear 0.4s, transform 40ms;
    transition: all 0s linear 0.4s, transform 40ms;
    transform: translateY(-1px);
    transition: box-shadow 0s linear 0s;
    box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
    opacity: 0.25;
    }
}
}
.color_accent {
  grid-area: color_sub;
  justify-self: start;
  margin: 0 20px 10px;
  padding: 0 20px;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  background-color: $accent;
  transition: all 0.1s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
    -webkit-transition: all 0.5s ease 0s, transform 400ms;
    transition: all 0.5s ease 0s, transform 400ms;
    opacity: 0.5;
  &:active {
    -webkit-transition: all 0s linear 0.4s, transform 40ms;
    transition: all 0s linear 0.4s, transform 40ms;
    transform: translateY(-1px);
    transition: box-shadow 0s linear 0s;
    box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
    opacity: 0.25;
    }
}
}

.buttons_subtitle {
  font-size: 13px;
  margin: 0px auto;
  grid-area: buttons_subtitle;
}

.accents_subtitle {
  font-size: 13px;
  margin: 0px auto;
  grid-area: accents_subtitle;
}

@media (min-width: 750px) {
  .editor_box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "style   color   font";
  }
}