@import '~variables.scss';

/* Card */

.wrapper {
  margin: 0 15px 0 15px;
}

.btn_download {
  color: $button;
  border: solid 1px $button;
  width: 200px;
  height: 40px;
  padding: 5px 20px;
  outline: 0;
  margin: 20px auto;
  justify-self: center;
	border-radius: 5px;
	background-color: #ffffff;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $button;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
    transition: all 0.3s ease 0s, transform 400ms;
  &:active {
    border-color: $white;
    background-color: lighten($button, 10%);
    transition: all 0s linear 0.3s, transform 40ms;
    transform: translateY(-1px);
    transition: box-shadow 0s linear 0s;
    box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
  }
}
}

.card {
  display: grid;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.10);
  width: 350px;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
    -webkit-transition: all 0.3s ease 0s, transform 400ms;
    transition: all 0.3s ease 0s, transform 400ms;
  }
}
.card__preview {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: $greyd1;
  height: 260px;
  width: auto;
}
.card__title {
  margin: 20px 0 10px 0;
  text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: $black;
}
.card__footer {
  margin: 0 0 10px;
  display: grid;
  align-self: end;
  width: auto;
  font-weight: 400;
  color: $greyd2;
  font-size: 12px;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "username date favorite";
}
  .username {
    padding: 4px;
    width: auto;
    grid-area: username;
    justify-self: start;
    color: $greyd2;
    &:hover {
      color: $button;
    &:active {
      color: lighten($button, 10%);
    }
  }
}
  .date {
    padding: 4px;
    grid-area: date;
    margin: 0 auto;
  }
  
  .btn_favorite {
    justify-self: end;
    grid-area: favorite;
    background:url(favorite.svg);
    background-repeat: no-repeat;
    width:28px;
    height:26px;
    border: 0;
    transition: all 0.5s ease;
    &:hover {
      background-image: url(favorite_hover.svg);
      transform: translateY(-3px);
      transition: all 0.5s ease 0s, transform 400ms;
    }
    &:active {
      transition: all 0s linear 0.4s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
    }
}

.popularity {
  margin: 20px auto;
  display: grid;
  grid-template-areas:
  "left middle right";
  grid-template-columns: 1fr 1fr 1fr;
}

.left {
text-align: right;
padding-right: 18px;
}

.middle {
  text-align: center;
}

.right {
  text-align: left;
  padding-left: 18px;
}