@import '~variables.scss';

/* Card */

.btn_default {
  outline: 0;
  box-sizing: border-box;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background-color: #ffffff;
  border: solid 1px #450073;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  justify-self: center;
  transition: all 0.5s ease;
  &:hover {
    background-color: $purple;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 6px 0 rgba(25, 74, 179, 0.15);
    transition: all 0.5s ease 0s, transform 400ms;
  &:active {
    border-color: $white;
    background-color: lighten($purple, 10%);
    transition: all 0s linear 0.4s, transform 40ms;
    transform: translateY(-1px);
    transition: box-shadow 0s linear 0s;
    box-shadow: 0 0 0 0 rgba(25, 74, 179, 0.5);
  }
}
}

.card {
  position: relative;
  display: grid;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.10);
  width: 350px;
  height: 450px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.card__preview {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transform: translate(0%, 0%);
  background-color: $greyd1;
  height: 260px;
  width: auto;
}
.card__title {
  display: inline;
  margin: 0 0;
  text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: $black;
}
.card__footer {
  padding: 25px 14px 0;
  display: grid;
  align-self: end;
  width: auto;
  height: 50px;
  font-weight: 400;
  color: $greyd2;
  font-size: 12px;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "user date favorite";

  .username {
    padding-top: 4px;
    width: auto;
    grid-area: user;
    justify-self: start;
    color: $greyd2;
    &:hover {
      color: $purple;
    &:active {
      color: lighten($purple, 10%);
    }
  }
}
  .date {
    padding-top: 4px;
    grid-area: date;
    margin: 0 auto;
  }
  
  .btn_favorite {
    justify-self: end;
    grid-area: favorite;
    background:url(favorite.svg);
    background-repeat: no-repeat;
    width:28px;
    height:26px;
    border: 0;
    transition: all 0.5s ease;
    &:hover {
      background-image: url(favorite_hover.svg);
      transform: translateY(-3px);
      transition: all 0.5s ease 0s, transform 400ms;
    }
    &:active {
      transition: all 0s linear 0.4s, transform 40ms;
      transform: translateY(-1px);
      transition: box-shadow 0s linear 0s;
    }
  }
}

