@import '../form_components/button/button.scss';
@import '../variables.scss';

/* Container */
.wrapper {
  width: auto;
  display: grid;
  grid-template-areas:
  "page_menu"
  "new_site"
  "site_cards";
}

.page_menu {
  grid-area: page_menu;
  height: 117px;
  width: auto;
  padding: 75px 0;
  .menu_line {
    border-bottom: 1px solid $greyd2;
    width: 80%;
  }
}

.new_site {
  grid-area: new_site;
}

.site_cards {
  grid-area: siteCards;
}

@media (min-width: 550px) {
}
