@import '../form_components/button/button.scss';
@import '../variables.scss';

/* Container */
.wrapper {
  width: 100%;
  display: grid;
  grid-template-areas:
  "page_menu"
  "new_site"
  "site_cards";
}

.page_menu {
  grid-area: page_menu;

}

.new_site {
  grid-area: new_site;
}

.site_cards {
  grid-area: siteCards;
}


@media (min-width: 550px) {
}
