
.grid {
  display: grid;
  grid-template-rows: auto auto auto 100px auto;
  grid-template-areas:
    "a"
    "b"
    "d"
    "c"
    "e";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
  align-self: start;
}


@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 330px;
    grid-template-rows: 60px 60px 160px 1fr;
    grid-template-areas:
    "a a"
    "b b"
    "c d"
    "e d";
  }
}
