/* Variables */

$white: #FFFFFF;
$offwhite: #F6F8FC;
$greyd1: #D7DADE;
$greyd2: #AAA9AA;
$greyd3: #8D95A3;
$black: #202022;
$sky-blue: #1C96FB;
$red: #F93C57;
$purple: #450073;
$yellow: #FEC409;
$green: #35C0B7;
$peach: #f56868;
$peach-gradient: linear-gradient(119deg, #f8a36f, #f17762 41%, #ee615c 63%, #ee5e5b 65%, #f0615f 76%, #f56868);
$blue-gradient: linear-gradient(116deg, #01c3ff, #51225e);
