@import '~variables.scss';

.checkbox {
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
  * {
    box-sizing: border-box;
  }
}

.checkbox_svg,
.checkbox_label {
  display: inline-block;
  vertical-align: middle;
}

.checkbox_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.checkbox_svg {
  height: 2em;
  width: 2em;
  background: $offwhite;
  border-radius: 20px;
  margin-right: .25em;
  border: .15em solid $offwhite;
  transition: border-color 150ms;

  .checkbox:hover &,
  .checkbox_input:hover + & {
    border-color: $green;

  }
  .checkbox:active &,
  .checkbox_input:active + & {
    background-color: $offwhite;
  }
}

.checkbox_polyline {
  stroke: #3bcbb7;
  stroke-width: 14;
  stroke-miterlimit: 10;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: stroke-dashoffset 150ms linear;
}

.checkbox_input:checked + .checkbox_svg .checkbox_polyline {
  stroke-dashoffset: 300;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkbox_label {
  padding-left: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
}
